<footer class="fixed-bottom alert-secondary fw-bold">
    <div class="row p1 align-items-center p-2">
        <div class="col text-center">Developed with ❤️ by
            <a href="http://piyushanand.in/" target="_blank">Piyush Anand</a>
        </div>
    </div>
</footer>