<section class="container d-none" id="gameEnded">
    <div class="row justify-content-center mx-0">
        <div class="col-lg-8 col-xl-6 bg-white rounded p-3 pt-0" id="statsDiv">
            <h1 class="text-center display-5 py-5 fw-bold bg-white sticky-top">Final Scores</h1>
        </div>

        <div class="mt-5">
            <div class="input-group mb-5" style="justify-content: center;">
                <a href="/"><button class="btn btn-warning" type="button" id="copy">New Game</button></a>
            </div>
        </div>
    </div>
</section>